/* Regular */
@font-face {
    font-family: 'Noto Sans';
    src: url('hinted-NotoSans.eot');
    src: local('Noto Sans'), local('NotoSans'),
        url('fonts/regular/hinted-NotoSans.eot?#iefix') format('embedded-opentype'),
        url('fonts/regular/hinted-NotoSans.woff2') format('woff2'),
        url('fonts/regular/hinted-NotoSans.woff') format('woff'),
        url('fonts/regular/hinted-NotoSans.ttf') format('truetype'),
        url('fonts/regular/hinted-NotoSans.svg#NotoSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'Noto Sans Bold';
    src: url('hinted-NotoSans-Bold.eot');
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
        url('fonts/bold/hinted-NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/bold/hinted-NotoSans-Bold.woff2') format('woff2'),
        url('fonts/bold/hinted-NotoSans-Bold.woff') format('woff'),
        url('fonts/bold/hinted-NotoSans-Bold.ttf') format('truetype'),
        url('fonts/bold/hinted-NotoSans-Bold.svg#NotoSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Italic';
    src: url('hinted-NotoSans-Italic.eot');
    src: local('Noto Sans Italic'), local('NotoSans-Italic'),
        url('fonts/italic/hinted-NotoSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/italic/hinted-NotoSans-Italic.woff2') format('woff2'),
        url('fonts/italic/hinted-NotoSans-Italic.woff') format('woff'),
        url('fonts/italic/hinted-NotoSans-Italic.ttf') format('truetype'),
        url('fonts/italic/hinted-NotoSans-Italic.svg#NotoSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

