@import 'nib'
@import 'fonts.css'

// Colores 
amarillo 	= #f9ad00
azul 		= #0091d3
blanco 		= #ffffff
casi-negro 	= #393939
casi-blanco = #eeeeee
celeste  	= #186ea6
fondo 		= #061c2a
gris 		= #7c7c7c
negro 		= #171717
deep 		= #000000
rojo 		= #e40d0b
texto 		= #7c7c7c
verde 		= #95be20
verde-fondo = #74b248
violeta 	= #9f67ae
textBlue 	= #1565c0 
usBack 		= #e9e9e9
celesteBack	= #0095db

// Gobal
*	
	outline none 

// Functions
add_parallax()
	background-attachment fixed
	background-position center

min_width()
	min-width 1280px !important

NotoSans( s = 1em, w = normal )
	font-family 'Noto Sans'
	font-size s
	font-weight w
	
NotoSansBold( s = 1em, w = normal )
	font-family 'Noto Sans Bold'
	font-size s
	font-weight w
	
NotoSansItalic( s = 1em, w = normal )
	font-family 'Noto Sans Italic'
	font-size s
	font-weight w
	
// Headers
.bg-head-1
	add_parallax()
	background-image url(../img/1.jpg)
	
.bg-head-2
	add_parallax()
	background-image url(../img/NE_1.jpg)
	
.bg-head-3
	add_parallax()
	background-image url(../img/solar_1.jpg)
	
.bg-head-4
	add_parallax()
	background-image url(../img/sustentable_1.jpg)
	
.bg-head-5
	add_parallax()
	background-image url(../img/storage_1.jpg)
	
.bg-head-6
	add_parallax()
	background-image url(../img/servicios_1.jpg)
	
.bg-head-7
	add_parallax()
	background-image url(../img/casa_1.jpg)
	

// Headers
footer 
	background-color negro
	color blanco
	NotoSans()
	padding 20px 10px
	position static
	text-align center	

header	
	background-repeat no-repeat
	background-size cover
	height 100vh
	h1
		color blanco		
		position relative
	.top
		+to-width(600px)
			text-align center !important
		img
			display inline-block
			max-width 370px !important
			width 95%
			+to-width(600px)
				relative top 100px left 
		figure
			+to-width(600px)
				padding 0 !important
	&.home-header		
		h1	
			left 0
			margin 0
			text-align center
			top 30% 
			width 100%
			img
				display inline-block
				max-width 450px
				width 95%
	&.company-header
		min-height 360px
		.img-title
			display block
			height auto
			max-width 360px
			relative top 25% left 11%
			width auto
	&.solar-header
		h1			
			NotoSansBold(3.5em)
			right 12%
			text-align right
			top 50%
			width 100%
			p
				display inline-block
				text-align left
				span
					display block					
					margin -10px 0 0 5px
					NotoSans(0.8em)
					padding-left 10px
	&.sustentable-header,&.storage-header
		h1
			NotoSansBold(3em)
			right 12%
			text-align right
			top 60%
			width 100%	
	&.casa-header
		h1
			NotoSansBold(3.5em)
			right 15%
			text-align right
			top 50%
			width 100%	
	&.services-header
		h1
			left 13%
			max-width 80%
			NotoSansBold(3.5em)
			text-align left	
			top 45% 
			width 100%	
	&.contact-header
		height 600px !important		
		iframe
			box-shadow 0 5px 10px rgba(casi-negro, 0.4)
			display inline-block !important
			height 600px !important
			relative top left
			width 100% !important		
			z-index 10
		#logo_aes
			absolute top 6% left 2%
			z-index 99
			+to-width(600px)
				top 100px !important				
	&.us-header
		background-color usBack
		height auto !important
		padding 40px 0 25px 0
		img
			max-width 100%
			padding-left 20px			
			+to-width(600px)
				padding-left 0 !important
				top 50px !important


section.row	
	margin 0	
	.col
		padding 0
		relative top left
	.home-text
		color blanco
		margin 25px auto 0 auto
		max-width 500px
		NotoSans()
		padding 0 60px 0 10px
		text-align justify
		width 100%
		z-index 999
		span
			display block
			NotoSansBold(3em)			
			padding-bottom 15px
			a
				color blanco
				text-decoration none
				&:hover
					cursor pointer
	.line-p
		align-self flex-start
		display inline-block
		height 5px
		width 50px			
	.valign-wrapper
		flex-direction column
		justify-content center
		height 100% !important
	&.home
		background-color fondo
		height 440px
		.cont-text-home
			background-color fondo
			height 100% !important
	&.odd
		.home-text
			padding 0 10px 0 60px			
	&:nth-child(1) .home-text span::first-letter
		color amarillo
	&:nth-child(2) .home-text span::first-letter
		color verde
	&:nth-child(3) .home-text span::first-letter
		color azul
	&:nth-child(4) .home-text span::first-letter
		color violeta
	&:nth-child(5) .home-text span::first-letter
		color rojo
	//Hover
	&:nth-child(1) .home-text span:hover::first-letter		
		text-shadow 0px 0px 10px rgba(amarillo, 0.8)
	&:nth-child(2) .home-text span:hover::first-letter		
		text-shadow 0px 0px 10px rgba(verde, 0.8)
	&:nth-child(3) .home-text span:hover::first-letter		
		text-shadow 0px 0px 10px rgba(azul, 0.8)
	&:nth-child(4) .home-text span:hover::first-letter		
		text-shadow 0px 0px 10px rgba(violeta, 0.8)
	&:nth-child(5) .home-text span:hover::first-letter		
		text-shadow 0px 0px 10px rgba(rojo, 0.8)
	// Company style
	&.company-solutions		
		height 620px
		p
			align-self flex-start
			color texto
			line-height 1.2
			max-width 500px
			NotoSans(1.1em)			
			padding-left 20px
			width 100%			
		.line-p
			background-color texto			
			margin-left 20px		
		#canvas-soluciones			
			display inline-block
		&.info
			p,.line-p
				relative top left -100px
	&.company-solutions-rows
		p
			color blanco			
			line-height 1.3
			margin-left 7.5%
			NotoSans(1.1em)
			padding 50px 0
			width 80%
	&.us
		canvas
			display inline-block
		.collapsible
			margin 60px 0 0 0
			li
				margin-bottom 40px			
	&.green-info
		color blanco
		padding 30px 0
		h2
			margin 60px auto 0 auto
			NotoSansBold(3em)
			width 70%
		p			
			line-height 1.2
			NotoSans(1.1em)
			width 95%
	// Solar Page
	&.solar-section1
		height 580px
		p
			align-self flex-start
			color casi-blanco			
			line-height 1.3
			max-width 520px
			NotoSans(1.2em)
			relative top right -100px
			padding-left 20px			
			width 100%
			z-index 99
		.line-p
			background-color gris			
			margin-left 120px
		canvas 
			display inline-block
	&.black-info
		color negro
		padding 30px 0
		h2
			margin 0 0 0 20%
			NotoSansBold(2.5em)
			width 70%
		p
			display inline-block
			NotoSans(1.1em)
			text-align left
			padding-right 10%
			width 60%	
	&.solar-section2
		height 650px
		p
			align-self flex-start
			color blanco			
			line-height 1.3
			max-width 480px
			NotoSans(1.1em)
			relative top left -80px
			padding-left 20px			
			width 100%
		.line-p
			background-color blanco			
			margin-top 25px
			relative top 5px left -60px	
		.bg-1
			overflow visible !important	
	&.solar-section3
		height 650px
		.col
			height 650px
		p
			align-self flex-start
			color blanco			
			line-height 1.3
			max-width 500px
			NotoSans(1.1em)
			relative top right -50px
			padding-left 20px			
			width 100%
			z-index 9
	&.solar-section4
		height 650px
		.col
			height 650px
		p
			align-self flex-start
			color blanco
			line-height 1.3
			max-width 480px
			NotoSans(1.1em)
			relative top left -80px
			padding-left 20px			
			width 100%
		.line-p
			background-color blanco			
			relative top left -60px
	&.solar-section5
		.bg-semi
			height 750px
			.collapsible
				padding-right 10%
				relative top -30px left
				width 65%
				* 
					background-color transparent !important		
				li
					margin-bottom 10px
				.collapsible-header
					font-size 1em !important
	&.contact-section
		.bg-semi-white
			height 700px
	// Sustentable
	&.sustentable-section1
		color blanco
		NotoSans()
		padding 25px 0
	&.sustentable-section2
		height 650px
		.col
			height 650px
		img
			margin 0 auto 25px auto
			relative top left -80px
		p
			align-self flex-start
			color blanco			
			line-height 1.3
			max-width 480px
			NotoSans(1.1em)
			relative top left -80px
			padding-left 20px			
			width 100%
			span
				font-weight 700
				display inline-block
				padding-bottom 5px
				text-align center
				width 100%
		.line-p
			background-color blanco			
			relative top left -60px
	&.sustentable-section3
		height 700px
		NotoSans()
		.col
			height 700px
		.bg-white
			p
				color deep
			.line-p
				background-color deep
		.bg-black
			img				
				relative top left -100px
			p,.line-p
				relative top left -130px
			p
				color blanco
			.line-p
				background-color blanco
	// Su casa
	&.casa-section1,&.casa-section3
		.col
			height 700px		
		.bg-blue,.bg-green
			*
				color blanco
	&.casa-section1
		.cont-text-img 
			margin 80px 0 0 5% !important
		.bg-blue
			.cont-text-img 
				width 85% 
				p
					min-width auto !important
		.bg-white
			.cont-text-img 
				relative top right -40px
				width 95% 
				z-index 99
				*
					color celeste	
				p
					font-weight 400			
	&.casa-section2
		.col
			height 700px !important
		.cont-half
			.collapsible
				float none !important
				margin 0 auto !important
				width 100% !important
				*
					background-color celeste
				li
					margin-bottom 20px
	&.casa-section3
		p
			min-width 450px 
			NotoSans(1em)
		.cont-text-img
			margin-top 80px !important
			h2
				margin-bottom 5px !important
		.bg-white
			.cont-text-img
				color verde			
				margin 30% 0 0 0 !important
				relative top right -15%
				width 70%
				z-index 99
				p
					font-weight 400
					line-height 1.4					
	&.casa-section4
		.col
			height 780px !important
		.cont-half
			width 70% !important
			*
				color casi-blanco
	// Services Page
	&.services-section1
		height 620px
		p
			align-self flex-start
			color casi-blanco			
			line-height 1.2
			max-width 475px
			NotoSans(1.1em)
			padding-left 20px
			width 100%
		.line-p
			background-color casi-blanco			
			margin-left 20px		
		#canvas-soluciones			
			display inline-block
		&.info
			p,.line-p
				relative top left -100px			
	&.services-section2
		.col
			height 650px !important			
		canvas
			absolute top left
		ul			
			max-width 400px
			width 100%
			li
				border 2px solid blanco
				color blanco
				display inline-block				
				margin-bottom 10px
				NotoSans(1.1em)
				padding 10px 20px
				text-align left
				width 100%
		.bg-gray
			text-align right
			ul
				align-self flex-end
		.bg-green
			text-align left
			ul
				align-self flex-end
				margin-right 10%
		.more-info
			absolute bottom left
			color blanco
			NotoSans(0.9em)
			padding 5px 15px
			text-align left
			width 100%
	&.white-info
		color blanco
		padding 30px 0
		h2			
			margin 0 0 0 20%
			NotoSansBold(3.5em)
			width 60%
		p
			display inline-block
			NotoSans(1.1em)			
			text-align left
			padding 0 10% 0 10%
			width 85%		
	&.storage-section1
		canvas
			absolute top left
		.col
			height 700px
		.bg-white
			*
				color celeste !important
			.cont-text-img
				right -80px
		.bg-blue			
			*
				color blanco
			.cont-text-img
				float right
				margin 25% 7% 0 0
		.cont-text-img
			position relative
			max-width 450px
			z-index 999
			p
				min-width auto !important
	&.us-section1,&.us-section2,&.us-section3
		.h2
			padding-left 50px
			+to-width(600px)
				padding 0 20px
			h2
				color #124c8b
				NotoSansBold(2.5em)
				padding 25px 0
				span
					display block
					NotoSansBold(1.3em)
			p
				max-width 600px
				NotoSans(1em)
				padding 0 10px 25px 10px
				width 100%
	&.us-section1,&.us-section3
		background-color usBack	
	&.us-section2,&.us-section3		
		.data
			padding-bottom 25px
			img,p,span
				display block
			img
				max-width 120px
			p
				NotoSans(1em)				
				width 100%
			span
				color celesteBack
				NotoSansBold(2.5em)
				padding 10px 
				width 100%
	&.us-section2
		.data
			padding-left 50px
			+to-width(600px)
				padding 0 20px
			p
				max-width 350px				
				padding 0 10px 10px 10px
				+to-width(600px)
					max-width none
			img
				margin 0 0 10px 0
			span
				text-align left			
	&.us-section3
		.data			
			img
				margin 0 auto 10px auto
			span
				text-align center
			p
				padding 0 15%
				text-align justify
				+to-width(600px)
					padding 0 20px
					text-align center
	

section.container-services
	margin auto
	padding 20px 0 0 0
	max-width 1360px
	width 90%
	h2
		color casi-negro
		NotoSansBold(1.8em)
		padding-bottom 20px
	.row
		.col
			text-align center
			min-height 480px
			img,p,span
				display block
				margin auto
			img
				max-width 150px
				width 100%
			p
				color casi-negro				
				line-height 1.2
				NotoSans(1.1em)
				text-align left
				width 90%
			span
				color celeste
				min-height 65px
				NotoSansBold(1.5em)
				width 70%
			a
				color verde-fondo
				display block				
				margin 0 
				NotoSansBold(1.3em)
				text-decoration none
				&:hover
					cursor pointer

#logo-menu-aes	
	height 75px
	padding-top 10px
	text-decoration none 
	img
		margin-bottom 10px 
	&:hover
		background-color #186ea6 !important
		cursor default !important

.arrow-left,.arrow-right
	border-bottom 220px solid rgba(fondo,0)
	border-top 220px solid rgba(fondo,0)
	height 0 
	position relative
	width 0 
	z-index 10
	
.arrow-left	 
	border-right 250px solid fondo 	
	float right
	right -1px

.arrow-right
	border-left 250px solid fondo
	float left
	left -1px
	

.button-collapse
	fixed top 8% right 6%
	i
		color blanco
		font-size 3rem
	
// Backgrounds
.bg-1,.bg-emp,.bg-2,.bg-s2,.bg-s3,.bg-s4,.bg-sus2,.bg-sus4,.bg-ser2,.bg-ne2,.bg-ne3,.bg-ne4,.bg-home2,.bg-home3,.bg-home4,.bg-home5,.bg-home6,.bg-contact,.bg-casa2
	background-repeat no-repeat
	background-size cover
	height 100%
	margin 0
	overflow hidden
.bg-1
	background-image url(../img/bg.jpg)		
.bg-s2
	background-image url(../img/solar_2.jpg)		
.bg-s3
	background-image url(../img/solar_3.jpg)	
.bg-s4
	background-image url(../img/solar_4.jpg)		

.bg-casa2
	background-image url(../img/casa_2.jpg)
	background-position-y center

.bg-sus2
	background-image url(../img/sustentable_2.jpg)		
.bg-sus3
	background-image url(../img/sustentable_3.jpg)	
	background-repeat no-repeat
	background-size cover	
	color blanco
	margin 0
	padding 600px 0 40px
.bg-sus4
	background-image url(../img/sustentable_4.jpg)		
	
.bg-emp
	background-image url(../img/NE_5.jpg)		

.bg-ser2
	background-image url(../img/servicios_2.jpg)		
	
.bg-ne2
	background-image url(../img/NE_2.jpg)		
.bg-ne3
	background-image url(../img/NE_3.jpg)		
.bg-ne4
	background-image url(../img/NE_4.jpg)		
	
.bg-home2
	background-image url(../img/2.jpg)
.bg-home3
	background-image url(../img/3.jpg)
.bg-home4
	background-image url(../img/4.jpg)
.bg-home5
	background-image url(../img/5.jpg)
.bg-home6
	background-image url(../img/6.jpg)

.bg-contact
	background-image url(../img/foto_contacto.jpg)
	background-position -200px 0
	height 700px
	canvas
		absolute top right
	div
		margin 300px 0 0 50%
		max-width 310px
		padding 0 10px 
		width 100%		
		img
			display block
			max-width 250px
		p
			color casi-negro
			NotoSans(1em)
			width 100%

.menu-icon-open	
	z-index 99


.over
	padding 120px 0 120px 20px !important
	h2
		text-align left !important
	
.bg-2
	background-image url(../img/city.jpg)		
		
.bg-black
	background-color deep

.bg-blue
	background-color celeste

.bg-city
	background-image url(../img/city.jpg)		
	background-repeat no-repeat
	background-size cover	
	color blanco
	margin 0
	padding 600px 0 40px
	

.bg-gray
	background-color casi-negro

.bg-green
	background-color verde-fondo

.bg-semi
	background rgba(negro, 0.5)
	background linear-gradient(-90deg, rgba(negro, 0.8) 75%, transparent)	
	> div		
		color blanco
		float right		
		line-height 1.3
		margin-right 15%
		NotoSans(1em)
		padding 50px 0
		width 50%
		a
			color blanco
			NotoSansBold(1.4em)
			&:hover
				cursor pointer
		h2
			margin 0
			span
				display block
				NotoSansBold()
.bg-semi-white
	background blanco
	
	
.bg-semi-inverse
	background rgba(negro, 0.5)
	background linear-gradient(-90deg, transparent, rgba(negro, 0.8) 35%)	
	padding-bottom 30px
	> div		
		color blanco
		float left
		line-height 1.3
		margin-left 5%
		NotoSans(1em)
		padding 50px 0
		width 60%		
		a
			color blanco
			NotoSansBold(1.4em)
			&:hover
				cursor pointer
		h2
			margin 0
			NotoSansBold(1.5em)
			text-align center
			width 100%			
		img
			display block
			margin 0 auto 20px auto
	

.bg-white
	background-color blanco	
// End Backgrounds
.cont-half			
	margin 0 auto
	width 80%
	*
		color blanco
	h2,p				
		width 100%
	h2
		margin 20px 0
		NotoSansBold(2.5em)
		text-align center
	img
		display block
		margin 0 auto
		max-width 125px	
	p
		NotoSans(1.1em)

.cont-text-img
	margin 50px 5% 0 5%
	text-align left
	width 90%
	h2
		color casi-negro
		margin 10px 0 40px 0
		NotoSansBold(1.8em)
		text-align center
		width 100%
	img
		display block
		margin 0 auto 25px auto
		max-width 125px
	p		
		line-height 1.3
		min-width 520px
		NotoSans(1.1em)
		width 100%
		z-index 99
	.line-p
		display inline-block !important

.collapsible
	border none
	box-shadow none 
	float right	
	width 90%
	* 
		color blanco !important
		background-color casi-negro
	li
		border 1px solid blanco		
	.collapsible-body
		NotoSans(1em)
	.collapsible-header				
		padding 0 1rem
		NotoSansBold(1.4em)
		span
			display inline-block			
			height 100% !important			
			padding 20px 25px
			vertical-align middle
			&.icon-us
				border-right 1px solid blanco
				padding 20px 25px 20px 10px
				width 50px

.fix,.fix-small
	height 300px		
	position fixed 
	text-align center
	top 46% !important
	width 100%	
	z-index 99
	img
		display inline-block
		max-height 290px
		position relative
		vertical-align bottom
		width auto
	.midnightInner
		overflow hidden !important
	.primary
		z-index 9999
	.second
		transform scale(0.8)
		z-index 99
	.third
		transform scale(0.6)
		z-index 99	
.fix-small
	display none

.icon-canvas
	img
		position absolute 
		z-index 999

.paragraphs
	NotoSans(1em)
	.col:nth-child(1)
		p
			padding 0 20px 0 10px 
	.col:nth-child(2)
		p
			padding 0 10px 0 20px

.services-grid
	padding 80px 0 !important
	.col
		min-height 400px !important
	
.show-on-700
	display none
.show-on-700-col
	display none
.show-on-992-col
	display none

.top
	figure
		margin 0
		padding 4% 0 0 6%
		
.video
	height 100%
	width 100%
	&.side-right
		absolute top right
		padding-right 1%
		iframe
			align-self flex-end
	&.side-left
		absolute top left
		padding-left 1%
		iframe
			align-self flex-start
	

#contactForm
	padding 50px 100px 0 70px
	label
		color textBlue
		display block
		NotoSansBold(1em)
		padding-bottom 10px
	input,textarea
		background-color blanco
		border 1px solid casi-negro
		border-radius 5px
		color casi-negro
		display inline-block
		text-align left
		padding 10px 5px
		width 100%
	textarea
		height 100px
		resize none
	.s12
		padding 5px 0 !important
	button
		border-radius 5px
		height 50px
		NotoSansBold(1em)
		width 200px

#slide-out	
	background-color celeste	
	*
		font-size 1.1em 
		font-weight 300
		color blanco
	.close-side-nav
		font-size 2em
		height auto !important
		padding 60px 50px 40px 0
		text-align right
	



// Media queries
@media (min-height: 900px)
	.fix		
		top 58% !important
		
@media (min-height: 800px)
	.fix		
		top 52% !important
		
@media (max-height: 600px)
	.fix		
		top 50% !important
		transform scale(0.7)
		
@media (max-height: 500px)
	.fix-small
		display none !important
	.fix
		display none		
		top 45% !important
		transform scale(0.6)
	.company-header
		.img-title
			top 2% !important
	.solar-header
		h1
			top 20% !important
	.sustentable-header
		h1
			top 35% !important
	.storage-header
		h1
			top 35% !important
	.services-header
		h1
			top 35% !important
	.casa-header
		h1
			top 35% !important
		
		
@media (min-width: 1445px)
	.bg-contact
		background-position -200px 0 !important

@media (min-width: 1770px)
	.bg-contact
		background-position 0 0 !important

@media (max-width: 1250px)
	section.row
		&.storage-section1
			.bg-blue
				.cont-text-img
					margin 30% 20px 0 0 !important
					max-width 400px
		&.casa-section3
			.cont-text-img
				p
					min-width 390px 

@media (max-width: 1200px)
	.bg-contact
		background-position -360px 0 !important
		div
			margin-left 30% !important

@media (max-width: 1180px)
	section.row
		&.services-section2			
			.bg-green
				ul
					margin-right 1% !important
			.bg-gray
				ul					
					width 98% !important
			ul
				margin-top 50px !important

@media (max-width: 1080px)
	.home-text
		margin 0 !important
		padding 25px 75px 25px 5px !important
	section.row		
		&.odd
			.home-text
				padding 25px 5px 25px 75px !important
		&.company-solutions
			p
				padding-right 10px !important
				overflow-y auto !important
		&.solar-section1
			p,.line-p
				padding-left 0 
				right -50px
			.line-p
				margin-left 50px 
		&.storage-section1
			.cont-text-img
				max-width 400px
				right 0 !important
				left 0 !important
				padding-left 50px		
		&.services-section2			
			.bg-green
				ul
					max-width 370px !important
	section.container-services
		.col
			span
				width 100% !important
	

@media (max-width: 1000px)
	.hide-on-1000
		display none !important
	section.row
		&.casa-section1
			.s2.bg-blue
				background-color blanco !important
			.cont-text-img
				p
					min-width auto !important
			.bg-blue
				.cont-half
					width 90% !important
		&.casa-section3
			.bg-green
				.cont-text-img
					p
						min-width 200px 
			.bg-white
				.cont-text-img
					p
						min-width 320px !important
	

@media (max-width: 992px)
	.bg-contact
		background-position 0 0 !important
		height 420px !important
		canvas
			display none !important
		div
			absolute top 170px right
			margin 0 !important
	.hide-on-992
		display none !important
	.show-on-992-col
		display block	
	.arrow-left	 
		border-right 130px solid fondo 	
	.arrow-right
		border-left 130px solid fondo
	.fix
		display none
	.fix-small
		display block
		position absolute !important		
	.home-text
		padding 25px 15px 25px 15px !important
	section.row	
		&.home
			height auto !important
			.home-text
				margin 0 auto !important
				padding 25px 0 !important
				width 90% !important
		&.odd
			.home-text
				padding 25px 0 !important
		&.solar-section2
			p
				left -20px 
			.line-p
				left 0
		&.solar-section3
			.bg-blue
				height auto !important
				padding 25px 0 50px 0 !important
				p
					right 0 !important
					margin-left 5% !important
					max-width none !important
					width 90% !important
		&.solar-section4
			.bg-green
				height auto !important
				padding 25px 0 50px 0 !important
				p
					left 0 !important
					margin-left 5% !important
					max-width none !important
					width 90% !important
		&.solar-section5
			overflow visible !important
			.collapsible
				padding-right 10px !important
		&.sustentable-section3
			.col
				height auto !important
				padding 20px 0
			.cont-text-img
				p
					min-width auto !important
			.bg-black
				.cont-text-img
					img,span,p
						left 0 !important
		&.storage-section1
			.col
				height auto !important
				padding 25px !important
			.cont-text-img
				float none !important
				max-width none !important
				margin 0 !important
				padding 25px 0
				width 100% !important
			.bg-blue
				display block !important
				.cont-text-img
					margin 0 0 0 5% !important
					width 90% !important
		&.services-section2
			.col
				height 600px !important
				padding 80px 0 !important
			.valign-wrapper
				display block !important
			.bg-green
				ul 
					margin-right auto !important
					max-width 90% !important
			ul
				float none !important
				margin 0 auto !important
				max-width 90% !important
				
		&.casa-section1
			.cont-text-img
				margin-top 20px !important
				right 0 !important
		&.casa-section2
			.col
				height auto !important
				padding 25px 0 !important
			.valign-wrapper
				display block !important
		&.casa-section3
			.cont-text-img
				margin-top 10px !important
				img
					margin-bottom 2px !important
		&.casa-section4
			.col
				display block !important
				height auto !important
				padding 25px !important


@media (max-width: 700px)
	.hide-on-700
		display none !important
	.show-on-700
		absolute bottom left
		display block
		NotoSansBold(35px)
		padding 20px 0
		text-align center
		width 100%
	section.row
		&.company-solutions
			canvas
				display none !important
			.show-on-700
				background-color celeste
				color blanco
			&.info
				p, .line-p
					left 0 !important
					padding-right 5px
				.show-on-700
					background-color verde-fondo
					color blanco
		&.solar-section1
			p
				padding 0 10px
				right 0
			.line-p
				margin-left 10px
			.show-on-700
				background-color blanco
				bottom auto !important
				color deep
				top 0 !important
		&.solar-section2
			p
				padding 0 10px
				left 0 
			.line-p
				left 10px
		&.solar-section3,&.solar-section4
			.bg-white
				height auto !important
				padding 20px 0 !important
				.video
					display block !important
					padding 0 !important
					relative top left
					text-align center !important
					iframe
						display inline-block !important
		&.black-info
			p
				width 90%
		&.services-section1
			.show-on-700
				background-color celeste
				color blanco
		&.casa-section2
			.collapsible
				right 0 !important
		&.casa-section3
			.bg-white
				.cont-text-img
					right 0 !important
					left 10px !important
					p
						min-width 300px 
	.white-info
		h2,p
			display block !important
			margin 0 auto !important
			padding 20px 0 !important
			text-align center !important
			width 80% !important
	.solar-section1,.solar-section2,.solar-section3,.solar-section4
		canvas 
			display none !important
	#canvas-us
		display none !important
	.collapsible
		min-width 500px
		relative top right -200px
	.icon-canvas
		img 
			display none !important
	.fix-small
		.default
			img
				margin 0 !important
				width 18% !important		

@media (max-width: 600px)
	#contactForm
		padding 50px 20px 0 20px !important
	.paragraphs.bg-city
		display inline-block
		padding-top 500px !important
		p
			margin 0 !important
			padding 25px 0 !important
			width 90% !important
	.bg-semi,.bg-semi-inverse
		background none
		background-color rgba(deep, 0.7) !important	
		> div
			margin 0 0 0 3%
			width 94%
	.icon-canvas		
		img
			display none !important
	.container-services
		.col
			min-height auto !important
			padding 25px 0 !important
			text-align center
			p
				text-align center !important
	.arrow-left, .arrow-right
		display none	
	.jarallax
		height 350px !important
	.show-on-small
		display block
	header
		&.home-header
			h1					
				span					
					line-height 1.2
					margin-top 25px !important
		&.company-header			
			.img-title
				left 0 !important
		&.solar-header
			h1			
				right 0
				top 40%
				width 100%
				p
					padding 0 10px 
					span				
						padding 0 !important
	section.row	
		.collapsible
			float none
			margin-left 3% !important
			min-width auto !important
			right 0 !important
			width 94%
		&.green-info
			h2
				margin 20px auto !important
				text-align center
				width 80%
		&.home
			height auto !important
			.home-text
				margin 0 auto !important
				padding 25px 0 !important
				width 90% !important
		&.odd
			.home-text
				padding 25px 0 !important
		&.company-solutions
			height 500px
			p
				max-width none !important
				width 98% !important				
		&.company-solutions-rows
			p
				padding 10px 0 10px 0 !important
		&.solar-section1
			.show-on-700
				top 0 !important
				bottom auto !important
			.bg-gray
				height auto !important
				padding 40px 0 !important
		&.solar-section2
			.line-p
				margin-left 5% !important
			.bg-blue
				height auto !important
				padding 40px 0 !important
				p
					display block !important
					margin-left 5% !important
					max-width none !important
					width 90% !important			
		&.solar-section3,&.solar-section4
			.bg-white
				height auto !important
				padding 20px 0 !important
				.video
					display block !important
					margin auto !important
					padding 0 !important
					relative top left !important
					text-align center !important
					width auto !important
					iframe
						display inline-block !important
						width 96% !important
		&.solar-section3
			.bg-blue
				p
					display block !important
					padding 0 10px !important
					margin-left 5% !important
					max-width none !important
					width 90% !important
		&.solar-section5
			.col
				height auto !important
				padding 25px 0 !important
			.bg-semi
				> div
					float none !important
			.collapsible
				padding 0 !important
				position static !important
				margin-left 5% !important
				width 90% !important
		&.black-info
			text-align center
			h2
				margin 0 auto !important
				padding 20px 0
				width 80%
			p
				display block !important
				margin-left 5%
				padding 0 !important
				width 90%
		&.sustentable-section2
			.bg-1
				height 450px !important
			.bg-blue		
				height auto !important
				padding 20px 0 !important
				img,p,.line-p
					display block !important
					left 0 !important
				.line-p
					margin-left 5%
				p					
					max-width none !important
					margin-left 5% !important
					padding 0 !important
					width 90% !important					
		&.services-section1
			.bg-1
				height 500px !important 
			.bg-gray
				height auto !important 
				padding 40px 0 !important
				.line-p
					display none
				p
					margin 0 auto !important
					max-width none !important
					width 90% !important
		&.casa-section1
			.col				
				height auto !important
				padding 25px 0 !important
				.cont-text-img
					margin 0 auto !important
		&.casa-section3
			.col
				height auto !important 
				padding 25px 0 !important
			.bg-white
				.cont-text-img
					display block !important
					margin 0 auto !important
					width 90% !important
					p
						min-width auto !important
						width 100% !important
			.bg-green
				.cont-text-img
					display block !important
					margin 0 auto !important
					width 90% !important
					p
						min-width auto !important
						width 100% !important
		&.casa-section4
			.cont-half
				width 90% !important

@media (min-width: 601px)
	.show-on-small
		display none

@media (max-width: 425px)
	.fix-small
		display none
		